<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>511595818523-ld0o3lughfcb2p78lon13hid0fp51h4r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.511595818523-ld0o3lughfcb2p78lon13hid0fp51h4r</string>
	<key>API_KEY</key>
	<string>AIzaSyAF2p0x54-xQAc0nVOv83pP6AO6kwksP0g</string>
	<key>GCM_SENDER_ID</key>
	<string>511595818523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tempdos.vkClient</string>
	<key>PROJECT_ID</key>
	<string>vk-geekbrains-93f64</string>
	<key>STORAGE_BUCKET</key>
	<string>vk-geekbrains-93f64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:511595818523:ios:fe793b82659348891152be</string>
</dict>
</plist>